{erl_opts, [debug_info]}.
{deps, [
    %%  { cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag,"2.7.0" } } },
    { cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag,"1.0.4" } } },
    { jiffy, { git, "https://github.com/davisp/jiffy.git" } }
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [hvac_fault_detection]}
]}.

{relx, [{release, {hvac_fault_detection, "1" },
    [
        sasl,
        %%    lager,
        clean_strike
    ]},
    { dev_mode, true },
    { include_erts, false },
    { include_src, false },
    { extended_start_script, true } ]
}.

{profiles, [{prod,
    [{relx, [
      { dev_mode, false },
      { include_src, true },
      { system_libs, true },
      { include_erts, true }]
    }]
  }]
}.

